/* ассортимент */
#section-23 {
	background: url("../images/background.webp") 50% 50% no-repeat;
	background-size: cover;
	border-bottom: 1px solid #dfe7f1;
	padding: 70px 0;
}

/* мы предлагаем */
#section-23 .row {
	justify-content: space-between;
	margin-bottom: 60px;
}

#section-23 .row#row-9,
#section-23 .row:last-child {
	margin-bottom: 0;
}

#section-23 .row .col {
	width: auto;
}

#section-23 img.image {
	max-width: 380px;
	border-radius: 7px;
}

/* колонки с картинками */
#row-10 .col-2,
#row-11 .col-1,
#row-12 .col-2,
#row-13 .col-1 {
	flex-shrink: 0;
}